<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient">KANBAN</h1>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{column.name}}</div>
          <div 
          class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag>{{item}}</div>
          </div>
          <button mat-raised-button type="button" (click)="addTask(column)"> + Add another card</button>
        </div>
        <div class="board-column" style="height: 70px; cursor: pointer;" (click)="addList()">+ Add another list</div>
      </div>
    </div>
  </div>
</div>